.clock{
    width: 150px;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    padding:  25px 50px 25px 50px;
    border: 0.5px #ff1900 solid;
    border-radius: 15px;

    background-color: #ffcece;
}

.clock-display{
    font-family: "Orbitron";
    
    width: 150px;
    height: 150px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    margin-bottom: 100px;

    background-color: #ff1900;
}

.actions{
    border: 1px #ff1900 solid;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    
    color: #ff1900;
    background-color: transparent;
    
    cursor: pointer;
}

.actions:hover {
    background-color: #ff1900;
    color: #ffcece;
}