.task-container {
    display: grid;
    gap: 20px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .task {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
    background-color: #ffcece;
    padding: 15px;
    border-radius: 15px;
  }
  
  @media (max-width: 600px) {
    .task {
      grid-template-columns: 1fr;
      text-align: center;
    }
    
    .task-actions {
      justify-content: center;
    }
    
    .adicionar-task {
      grid-template-columns: 1fr;
    }
    
    .adicionar-task input,
    .adicionar-task button {
      width: 100%;
    }
  }